<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Nest</title>
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
    <header>
        <h1>Welcome to the Code Nest</h1>
    </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
</body>

<footer>

</footer>
</html>