
<main class="container">
  {{#each posts}}
    <article>
      <h2>{{title}}</h2>
      <p>{{body}}</p>
      <p>Posted by: {{username}}</p>
    </article>
  {{else}}
    <p>No posts found.</p>
  {{/each}}
</main>

